@import 'theme/ocean.scss';

@font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir/Vazir-Black.woff') format('woff2'),
        url('../font/Vazir/Vazir-Black.woff2') format('woff');
}


* {
    direction: rtl;
}

body {
    font-family: 'Vazir', sans-serif;
    background: $main_bg;
}

.rounded-20 {
    border-radius: 20px;

}

.bg-main {
    background: $main_bg
}

.service-item {
    background-color: rgba(0, 0, 0, 0.5);
}

.pagination .page-item.active .page-link {
    background-color: #b2ccec;
    color: white;
    /* Change this to your desired text color */
}